@mixin custom-underline {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 45%;
  width: 10%;
  height: 4px;
  background-color: #F2994A;
  border-radius: 2px;
}




@mixin left-underline {
  content: "";
  position: absolute;
  top: 34%;
  left: 0;
  width: 20%;
  height: 4px;
  background-color: #F2994A;
  border-radius: 2px;
}


@mixin client-underline {
  content: "";
  position: absolute;
  top: 80px;
  left: 0;
  width: 20%;
  height: 4px;
  background-color: #F2994A;
  border-radius: 2px;
}


@mixin testimonial-underline {
  content: "";
  position: absolute;
  bottom: -15px;
  left:40%;
  width: 20%;
  height: 4px;
  background-color: #F2994A;
  border-radius: 2px;
}

