* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

// Color Variables
$primary-color: #ef6f21;
$text-color: #4f4b6a;

// Custom Fonts
@font-face {
    font-family: bwod-light;
    src: url(../assets/font/Nunito-Light.ttf);
}

@font-face {
    font-family: bwod-bold;
    src: url(../assets/font/Nunito-Bold.ttf);
}

@import "mixins";


::-webkit-scrollbar {
    width: 8px;
    height: 6px !important;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .3);

}


// General styles
html,
body {
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    padding: 0;
    margin: 0;
    color: $text-color;
    font-family: bwod-light;
}


// ===================== Header ============================

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
    background-color: #f2f2f2;
    padding-left: 6rem;

    .header__logo {
        width: 80px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .header__menu {
        text-align: right;
        font-weight: bold;

        .header__link {
            color: $text-color;
            padding: 0 10px;
            text-decoration: none;
            
        }
    }
}

// ===================== main content ========================

main {

    .intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 6rem 0;

        .intro__text {
            margin-top: 2rem;

            h1 {
                font-family: bwod-light;
                font-weight: 700;
                font-size: 4rem;
                line-height: 4.5rem;
            }

            p {
                padding: 2rem 0;
                font-size: 1.5rem;
            }
        }

        .intro__button {
            font-weight: bold;
            font-size: 1.2rem;
            margin-top: 1.2rem;
        }

        .intro__image {
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .service {
        margin-bottom: 5rem;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        

        &__image {
            margin-top: 5rem;

            img {
                width: 100%;
            }

        }


        &__holder {

            &-heading {
                text-align: left;

                margin-bottom: 3rem;


                h1 {
                    font-family: bwod-light;
                    font-weight: 700;
                    font-size: 3rem;
                    margin-bottom: 2.5rem;
                    position: relative;


                    &::after {
                        @include client-underline;
                    }
                }
            }



            img {
                width: 10%;
                height: auto;
                margin: 0 auto;
            }

            &--content {
                h2 {
                    padding: 1rem 0;
                }

                p {
                    font-size: 1.2rem;
                }
            }

            &--content:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }

    .hack {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #F7F8F8;
        padding-top: 3rem 0;

        .hack__text {
            margin-top: 2rem;
            position: relative;

            &::after {
                @include left-underline;
            }

            h1 {
                font-family: bwod-light;
                font-weight: 700;
                font-size: 3rem;
                line-height: 4.5rem;
                padding-top: 2rem;
                line-height: 4.5rem;
            }

            p {
                padding: 2rem 0;
                font-size: 1.2rem;
            }
        }

        .hack__button {
            font-weight: bold;
            font-size: 1.2rem;
            margin-top: 1.2rem;
        }

        .hack__image {
            img {
                width: 100%;
                height: auto;
            }
        }
    }


    .promise {
        margin-bottom: 5rem;
        justify-content: space-between;

        &__heading {
            text-align: center;
            padding-top: 2rem;


            h1 {
                font-family: bwod-light;
                font-weight: 700;
                font-size: 3rem;
                margin-bottom: 2.5rem;

                position: relative;

                &::after {
                    @include custom-underline;
                }
            }
        }

        &__holder {

            img {
                width: 100%;
                height: auto;
                margin: 0 auto;
            }

            &--content {
                h2 {
                    padding: 1rem 0;
                }

                p {
                    font-size: 1.2rem;
                }
            }

            &--content:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }

    .team {
        margin-bottom: 5rem;
        justify-content: space-between;
        background: #F7F8F8;



        &__heading {
            text-align: center;
            margin-bottom: 3rem;



            h1 {
                font-family: bwod-light;
                font-weight: 700;
                font-size: 3rem;
                margin-bottom: 2rem;
                padding-top: 3rem;

                position: relative;

                &::after {
                    @include custom-underline;
                }
            }

            p {
                text-align: center;
                font-size: 1.2rem;
            }
        }

        &__holder {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 3rem;
            border-radius: 10px;
            padding-bottom: 5rem;



            &--content {
                background: #ffffff;
                text-align: center;
                border-radius: 10px;

                box-shadow: 2px 4px 4px grey;

                h2 {
                    padding: 1rem 0;
                }

                p {
                    padding-bottom: 1rem;
                }

                &-circle {
                    // not working, will look into it
                    width: 100px;
                    height: 100px;
                    background: red;
                    border-radius: 50%;
                    margin-top: 5px;

                    img {
                        width: 10%;
                        height: auto;
                        margin-top: 5px;
                    }
                }
            }

        }
    }

    .clientele {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .clientele__text {
            margin-top: 2rem;

            h1 {
                font-family: bwod-light;
                font-weight: 700;
                font-size: 3rem;
                line-height: 4.5rem;
                position: relative;

                &::after {
                    @include client-underline;
                }

            }

            p {
                padding: 2rem 0;
                font-size: 1.2rem;
            }
        }


        .clientele__image {
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .testimonial {
        background: #F7F8F8;
        margin: 0 auto;


        &__holder {
            width: 50%;
            margin: 0 auto;
            text-align: center;
            position: relative;

            &-icon {

                padding-top: 3rem;
                position: relative;

                &::after {
                    @include testimonial-underline;
                }

            }

            &-text {
                padding: 2rem 4rem;
            }

            &-circle {
                display: grid;
                justify-content: center;
                grid-template-columns: repeat(3, 10px);
                grid-gap: 5px;
            }

            &-circle>div {
                margin-top: 2rem;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                // background: linear-gradient( right $primary-color, #c75209)
                background: orangered;
                justify-content: center;
            }

            &-name {
                padding: 1rem 0 2.5rem 0 ;
                
            }
        }



    }

    .resources {
        margin-bottom: 5rem;
        justify-content: space-between;
        
        &__heading {
            text-align: center;
            margin-bottom: 3rem;

            h1 {
                font-family: bwod-light;
                font-weight: 700;
                font-size: 3rem;
                margin-bottom: 5rem;
                padding-top: 3rem;
                position: relative;

                &::after {
                    @include custom-underline;
                }
            }


        }

        &__holder {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 4rem;
            border-radius: 10px;



            &--content {
                background: #ffffff;
                border-radius: 10px;
                
                box-shadow: 0px 2px 4px grey;               

                &-image {
                    // not working, will look into it
                    border-radius: 10px 10px 0 0;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: auto;
                        margin: 0 auto;
                    }
                }

                &-text {
                    padding: 10px;

                    h4 {
                        text-transform: uppercase;

                    }

                    p {
                        font-size: 1rem;
                        padding: 1rem 0;
                    }

                    a {
                        text-decoration: none;
                        color: $primary-color;
                        border-bottom: 1px solid $primary-color;
                        transition: all .3s ease-in-out;
                        padding: 3px;
                        

                        &:hover {
                            transform: translateY(-2px);
                            color: #ffffff;
                            background: $primary-color;
                            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
                            
                        }
                        
                        
                        
                    }

                }
            }

        }
    }

    .newsletter {
        background: #4F4B6A;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1rem;
        padding: 3rem 0;

        &__menu {
            
        place-items: left;
        padding: 3rem 0;

            &-link {
                color: $text-color;
                padding: 0 10px;
                text-decoration: none;
                color: white;
            }
        }

        &__letter {
            color: #ffffff;
            place-items: center;
            padding: 3rem 0;

            p { 
                color: white;
            }

        }

        hr {
            border: 2px solid $primary-color
            
        }
    }

// ================== end of main ======================






// ==================UTILITIES======================

    .row-sizing {
        padding: 0 6rem;
    }

    .btn {
        padding: 12px 25px;
        border: none;
        text-align: center;
        color: $primary-color;
        font-family: bwod-light;
        position: relative;
        background-color: transparent;
        transition: all 0.4s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: $primary-color;
            color: #fff;
        }

        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 97%;
            height: 15px;
            border: 2px solid $primary-color;
            border-bottom: none;
        }

        &::before {
            position: absolute;
            content: "";
            bottom: 0;
            right: 0;
            width: 97%;
            height: 15px;
            border: 2px solid $primary-color;
            border-top: none;
        }
    }


}


.addScroll {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;

}
