* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: bwod-light;
  src: url(../assets/font/Nunito-Light.ttf);
}

@font-face {
  font-family: bwod-bold;
  src: url(../assets/font/Nunito-Bold.ttf);
}

.form-group:not(:last-child) {
  margin-bottom: 2rem;
}

.form-control {
  width: 80%;
  border: none;
  background-color: rgba(250, 250, 250, 0.5);
  border-bottom: 3px solid transparent;
  padding: .8rem;
  font-family: bwod-light;
}

.form-control:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #ef6f21;
}

.form-control:focus:invalid {
  border-bottom: 3px solid #55c57a;
}

.form .btn__form {
  background-color: #ef6f21;
  padding: .8rem 1rem;
  border-radius: .5rem;
  border: none;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px !important;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ef6f21;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

html,
body {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  padding: 0;
  margin: 0;
  color: #4f4b6a;
  font-family: bwod-light;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 15px;
  padding-left: 6rem;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

header .header__logo {
  width: 80px;
}

header .header__logo img {
  width: 100%;
  height: auto;
}

header .header__menu {
  text-align: right;
  font-weight: bold;
}

header .header__menu .header__link {
  color: #4f4b6a;
  padding: 0 10px;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

header .header__menu .contact {
  border: 2px solid #ef6f21;
  border-radius: 5px;
  padding: .5rem .5rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

header .header__menu .contact:hover {
  background: #ef6f21;
  border-radius: 5px;
  color: white;
  padding: .5rem .5rem;
}

main .intro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 6rem 0;
}

main .intro .intro__text {
  margin-top: 2rem;
}

main .intro .intro__text h1 {
  font-family: bwod-light;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.5rem;
}

main .intro .intro__text p {
  padding: 2rem 0;
  font-size: 1.5rem;
}

main .intro .intro__button {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1.2rem;
}

main .intro .intro__image img {
  width: 100%;
  height: auto;
}

main .service {
  margin-bottom: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

main .service__image {
  margin-top: 5rem;
}

main .service__image img {
  width: 100%;
}

main .service__holder-heading {
  text-align: left;
  margin-bottom: 3rem;
}

main .service__holder-heading h1 {
  font-family: bwod-light;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 2.5rem;
  position: relative;
}

main .service__holder-heading h1::after {
  content: "";
  position: absolute;
  top: 140px;
  left: 0;
  width: 20%;
  height: 4px;
  background-color: #F2994A;
  border-radius: 2px;
}

main .service__holder img {
  width: 10%;
  height: auto;
  margin: 0 auto;
}

main .service__holder--content h2 {
  padding: 1rem 0;
}

main .service__holder--content p {
  font-size: 1.2rem;
}

main .service__holder--content:not(:last-child) {
  margin-bottom: 2rem;
}

main .learn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 6rem 0;
}

main .learn .learn__text {
  margin-top: 2rem;
}

main .learn .learn__text h1 {
  font-family: bwod-light;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.5rem;
}

main .learn .learn__text p {
  padding: 2rem 0;
  font-size: 1.2rem;
}

main .learn .learn__image img {
  margin-top: .5rem;
  width: 90%;
  height: auto;
}

main .hack {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-color: #F7F8F8;
  padding-top: 3rem 0;
}

main .hack .hack__text {
  margin-top: 2rem;
  position: relative;
}

main .hack .hack__text::after {
  content: "";
  position: absolute;
  top: 34%;
  left: 0;
  width: 20%;
  height: 4px;
  background-color: #F2994A;
  border-radius: 2px;
}

main .hack .hack__text h1 {
  font-family: bwod-light;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.5rem;
  padding-top: 2rem;
  line-height: 4.5rem;
}

main .hack .hack__text p {
  padding: 2rem 0;
  font-size: 1.2rem;
}

main .hack .hack__button {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1.2rem;
}

main .hack .hack__image img {
  width: 100%;
  height: auto;
}

main .clientele {
  margin-bottom: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .clientele__heading {
  text-align: center;
  padding-top: 2rem;
}

main .clientele__heading p {
  font-size: 1.2rem;
}

main .clientele__heading h1 {
  font-family: bwod-light;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 2.5rem;
  position: relative;
}

main .clientele__heading h1::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 45%;
  width: 10%;
  height: 4px;
  background-color: #F2994A;
  border-radius: 2px;
}

main .clientele__holder {
  padding: 2rem 2rem;
}

main .clientele__holder img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  place-items: center;
}

main .testimonial {
  background: #F7F8F8;
  margin: 0 auto;
}

main .testimonial__holder {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

main .testimonial__holder-icon {
  padding-top: 3rem;
  position: relative;
}

main .testimonial__holder-icon::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 40%;
  width: 20%;
  height: 4px;
  background-color: #F2994A;
  border-radius: 2px;
}

main .testimonial__holder-text {
  padding: 2rem 4rem;
}

main .testimonial__holder-circle {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (10px)[3];
      grid-template-columns: repeat(3, 10px);
  grid-gap: 5px;
}

main .testimonial__holder-circle > div {
  margin-top: 2rem;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: orangered;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .testimonial__holder-name {
  padding: 1rem 0 2.5rem 0;
}

main .hire {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 6rem 0;
  grid-gap: 2rem;
}

main .hire .hire__text {
  margin-top: 2rem;
}

main .hire .hire__text h1 {
  font-family: bwod-light;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.5rem;
  position: relative;
}

main .hire .hire__text h1::after {
  content: "";
  position: absolute;
  top: 80px;
  left: 0;
  width: 20%;
  height: 4px;
  background-color: #F2994A;
  border-radius: 2px;
}

main .hire .hire__text p {
  padding: 2rem 0;
  font-size: 1.2rem;
}

main .hire .hire__image img {
  margin-top: .5rem;
  width: 90%;
  height: auto;
}

main .footer {
  background: #4F4B6A;
}

main .footer__holder {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
  padding: 3rem 0;
}

main .footer__holder--about h4 {
  padding-bottom: 1rem;
  color: #fff;
}

main .footer__holder--about P {
  color: #fff;
}

main .footer__holder--about .hashtag {
  color: #ef6f21;
  font-weight: bold;
  padding-top: .5rem;
}

main .footer__holder--contact h4 {
  padding-bottom: 1rem;
  color: #fff;
}

main .footer__holder--contact P {
  color: #fff;
}

main .footer__holder--social h4 {
  padding-bottom: 1rem;
  color: #fff;
}

main .footer__holder--social .fab {
  padding: 12px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  background: white;
}

main .footer__bottom {
  padding-bottom: .8rem;
}

main .footer__bottom p {
  text-align: center;
  color: white;
}

main .row-sizing {
  padding: 0 6rem;
}

main .btn {
  padding: 12px 25px;
  border: none;
  text-align: center;
  color: #ef6f21;
  font-family: bwod-light;
  position: relative;
  background-color: transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

main .btn:hover {
  background-color: #ef6f21;
  color: #fff;
}

main .btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 97%;
  height: 15px;
  border: 2px solid #ef6f21;
  border-bottom: none;
}

main .btn::before {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 97%;
  height: 15px;
  border: 2px solid #ef6f21;
  border-top: none;
}

.addScroll {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}
/*# sourceMappingURL=style.css.map */