* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

// Color Variables
$primary-color: #ef6f21;
$text-color: #4f4b6a;
$bg-color: #F7F8F8;

// Custom Fonts
@font-face {
    font-family: bwod-light;
    src: url(../assets/font/Nunito-Light.ttf);
}

@font-face {
    font-family: bwod-bold;
    src: url(../assets/font/Nunito-Bold.ttf);
}

@import "mixins";
@import "form";


::-webkit-scrollbar {
    width: 8px;
    height: 6px !important;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .3);

}


// General styles
html,
body {
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    padding: 0;
    margin: 0;
    color: $text-color;
    font-family: bwod-light;
}


// ===================== Header ============================

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
    padding-left: 6rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);

    .header__logo {
        width: 80px;

        img {
           height: 35px;
        }
    }

    .header__menu {
        text-align: right;
        font-weight: bold;

        .header__link {
            color: $text-color;
            padding: 0 10px;
            text-decoration: none;
            transition: all .2s;

        }

        .contact {
            border: 2px solid $primary-color;
            border-radius: 5px;
            padding: .5rem .5rem;
            transition: all .2s;
        }
        .contact:hover {
            background: $primary-color;
            border-radius: 5px;
            color: white;
            padding: .5rem .5rem;
        }

        
    }
}

// ===================== main content ========================

main {

    .intro  {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 6rem 0;

        .intro__text {
            margin-top: 2rem;

            h1 {
                font-family: bwod-light;
                font-weight: 700;
                font-size: 4rem;
                line-height: 4.5rem;
            }

            p {
                padding: 2rem 0;
                font-size: 1.5rem;
            }
        }

        .intro__button {
            font-weight: bold;
            font-size: 1.2rem;
            margin-top: 1.2rem;
        }

        .intro__image {
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .service {
        margin-bottom: 5rem;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        

        &__image {
            margin-top: 5rem;

            img {
                width: 100%;
            }

        }


        &__holder {

            &-heading {
                text-align: left;

                margin-bottom: 3rem;


                h1 {
                    font-family: bwod-light;
                    font-weight: 700;
                    font-size: 3rem;
                    margin-bottom: 2.5rem;
                    
                }
            }



            img {
                width: 10%;
                height: auto;
                margin: 0 auto;
            }

            &--content {
                h2 {
                    padding: 1rem 0;
                }

                p {
                    font-size: 1.2rem;
                }
            }

            &--content:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }

    .learn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 6rem 0;

        .learn__text {
            margin-top: 2rem;

            h1 {
                font-family: bwod-light;
                font-weight: 700;
                font-size: 3rem;
                line-height: 4.5rem;

                
            }

            
            p {
                padding: 2rem 0;
                font-size: 1.2rem;
            }
        }


        .learn__image {
            img {
                margin-top: .5rem;
                width: 90%;
                height: auto;
            }
        }
    }

    .hack {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: $bg-color;
        padding-top: 3rem 0;

        .hack__text {
            margin-top: 2rem;
            

            h1 {
                font-family: bwod-light;
                font-weight: 700;
                font-size: 3rem;
                line-height: 4.5rem;
                padding-top: 2rem;
                line-height: 4.5rem;
            }

            p {
                padding: 2rem 0;
                font-size: 1.2rem;
            }
        }

        .hack__button {
            font-weight: bold;
            font-size: 1.2rem;
            margin-top: 1.2rem;
        }

        .hack__image {
            img {
                width: 100%;
                height: auto;
            }
        }
    }


    .clientele {
        margin-bottom: 5rem;
        justify-content: space-between;

        &__heading {
            text-align: center;
            padding-top: 2rem;
            
            p {
                font-size: 1.2rem;
            }

            h1 {
                font-family: bwod-light;
                font-weight: 700;
                font-size: 3rem;
                margin-bottom: 2.5rem;

                position: relative;

                &::after {
                    @include custom-underline;
                }
            }

           
        }

        &__holder {
            padding: 2rem 2rem;

            img {
                width: 100%;
                height: auto;
                margin: 0 auto;
                place-items: center;
            }
        }
    }

    

    .testimonial {
        background: $bg-color;
        margin: 0 auto;

        &__holder-icon {
            width: 50%;
            margin: 0 auto;
            text-align: center;
            position: relative;
            padding-top: 3rem;
            position: relative;

            &::after {
                @include testimonial-underline;
            }

        }


        &__holder {
            width: 70%;
            margin: 0 auto;
            text-align: center;
            position: relative;

            &-text {
                padding: 3.5rem 4rem;
            }

            

            &-name {
                padding: 1rem 0 2.5rem 0 ;
                
            }
        }

     



    }

    .hire {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 6rem 0;
        grid-gap: 2rem;

        .hire__text {
            margin-top: 2rem;

            h1 {
                font-family: bwod-light;
                font-weight: 700;
                font-size: 3rem;
                line-height: 4.5rem;
                position: relative;

                &::after {
                    @include client-underline;
                }
            }

            p {
                padding: 2rem 0;
                font-size: 1.2rem;
            }
        }


        .hire__image {
            img {
                margin-top: .5rem;
                width: 90%;
                height: auto;
            }
        }
    }


    .footer {
            background: #4F4B6A;

        &__holder {
           
            display: flex;
           flex-direction: row;
           justify-content: space-around;
            padding: 3rem 0;
            
    
            &--about {
    
                h4{ 
                    padding-bottom: 1rem;
                    color: #fff;
                }
                
                P {
                    color: #fff;
                }

                .hashtag {
                    color: $primary-color;
                    font-weight: bold;
                    padding-top: .5rem;
                }
                
    
               
            }

            &--contact {
                h4{ 
                    padding-bottom: 1rem;
                    color: #fff;
                }
                P {
                    color: #fff;
                }
                
              
            }

            &--social {

                h4{ 
                    padding-bottom: 1rem;
                    color: #fff;
                }
                
                .fab {
                    
               
                        padding: 12px;
                        font-size: 15px;
                        text-align: center;
                        text-decoration: none;
                        margin: 5px 2px;
                        border-radius: 50%;
                        background: white;
                    
                      

                }
                
                
                
                
    
               
            }
    
            
    
            
        }

        &__bottom {
            padding-bottom: .8rem;
             
            p {
                text-align: center;
            color: white;
            }
        }
    }

// ================== end of main ======================






// ==================UTILITIES======================

    .row-sizing {
        padding: 0 6rem;
    }

    .btn {
        padding: 12px 25px;
        border: none;
        text-align: center;
        color: $primary-color;
        font-family: bwod-light;
        position: relative;
        background-color: transparent;
        transition: all 0.4s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: $primary-color;
            color: #fff;
        }

        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 97%;
            height: 15px;
            border: 2px solid $primary-color;
            border-bottom: none;
        }

        &::before {
            position: absolute;
            content: "";
            bottom: 0;
            right: 0;
            width: 97%;
            height: 15px;
            border: 2px solid $primary-color;
            border-top: none;
        }
    }


}


.addScroll {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;

}


.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 45px !important;
    line-height: 0;
    opacity: .75 ;
    color: $primary-color !important;
    -webkit-font-smoothing: antialiased;
}


.slick-dots {
    position: absolute;
    bottom: 18px !important;
    display: block;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}