* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: bwod-light;
  src: url(../assets/font/Nunito-Light.ttf);
}

@font-face {
  font-family: bwod-bold;
  src: url(../assets/font/Nunito-Bold.ttf);
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px !important;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ef6f21;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

html,
body {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  padding: 0;
  margin: 0;
  color: #4f4b6a;
  font-family: bwod-light;
}

.left-underline {
  position: relative;
}

.left-underline::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 45%;
  width: 10%;
  height: 4px;
  background-color: #ef6f21;
  border-radius: 2px;
}

.middle_underline {
  position: relative;
  text-align: center;
}

.middle_underline::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 45%;
  width: 10%;
  height: 4px;
  background-color: #ef6f21;
  border-radius: 2px;
  left: 40%;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 15px;
  background-color: #f2f2f2;
  padding-left: 6rem;
}

header .header__logo {
  width: 80px;
}

header .header__logo img {
  width: 100%;
  height: auto;
}

header .header__menu {
  text-align: right;
  font-weight: bold;
}

header .header__menu .header__link {
  color: #4f4b6a;
  padding: 0 10px;
  text-decoration: none;
}

main .intro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 6rem 0;
}

main .intro .intro__text {
  margin-top: 2rem;
}

main .intro .intro__text h1 {
  font-family: bwod-light;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.5rem;
}

main .intro .intro__text p {
  padding: 2rem 0;
  font-size: 1.5rem;
}

main .intro .intro__button {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1.2rem;
}

main .intro .intro__image img {
  width: 100%;
  height: auto;
}

main .service {
  margin-bottom: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .service__heading {
  text-align: center;
  position: relative;
}

main .service__heading h1 {
  font-family: bwod-light;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

main .service__heading::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 45%;
  width: 10%;
  height: 4px;
  background-color: #ef6f21;
  border-radius: 2px;
}

main .service__holder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  position: relative;
}

main .service__holder img {
  width: 10%;
  height: auto;
  margin: 0 auto;
}

main .service__holder--content h2 {
  padding: 1rem 0;
}

main .service__holder--content p {
  font-size: 1.2rem;
}

main .service__holder--content:not(:last-child) {
  margin-bottom: 2rem;
}

main .hack {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-color: #F7F8F8;
  padding-top: 3rem 0;
}

main .hack .hack__text {
  margin-top: 2rem;
  position: relative;
}

main .hack .hack__text::after {
  content: "";
  position: absolute;
  top: 34%;
  left: 0;
  width: 20%;
  height: 4px;
  background-color: #ef6f21;
  border-radius: 2px;
}

main .hack .hack__text h1 {
  font-family: bwod-light;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.5rem;
  padding-top: 2rem;
  line-height: 4.5rem;
}

main .hack .hack__text p {
  padding: 2rem 0;
  font-size: 1.2rem;
}

main .hack .hack__button {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1.2rem;
}

main .hack .hack__image img {
  width: 100%;
  height: auto;
}

main .promise {
  margin-bottom: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .promise__heading {
  text-align: center;
  padding-top: 2rem;
  position: relative;
}

main .promise__heading::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 45%;
  width: 10%;
  height: 4px;
  background-color: #ef6f21;
  border-radius: 2px;
}

main .promise__heading h1 {
  font-family: bwod-light;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

main .promise__holder img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

main .promise__holder--content h2 {
  padding: 1rem 0;
}

main .promise__holder--content p {
  font-size: 1.2rem;
}

main .promise__holder--content:not(:last-child) {
  margin-bottom: 2rem;
}

main .team {
  margin-bottom: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F7F8F8;
}

main .team__heading {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}

main .team__heading::after {
  content: "";
  position: absolute;
  top: 60%;
  right: 45%;
  width: 10%;
  height: 4px;
  background-color: #ef6f21;
  border-radius: 2px;
}

main .team__heading h1 {
  font-family: bwod-light;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 2rem;
  padding-top: 3rem;
}

main .team__heading p {
  text-align: center;
  font-size: 1.2rem;
}

main .team__holder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  border-radius: 10px;
  padding-bottom: 5rem;
}

main .team__holder--content {
  background: #ffffff;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 2px 4px 4px grey;
          box-shadow: 2px 4px 4px grey;
}

main .team__holder--content h2 {
  padding: 1rem 0;
}

main .team__holder--content p {
  font-size: 1.2rem;
}

main .team__holder--content-circle {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
  margin: 0 auto;
}

main .team__holder--content-circle img {
  width: 10%;
  height: auto;
  margin: 0 auto;
}

main .clientele {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 6rem 0;
}

main .clientele .clientele__text {
  margin-top: 2rem;
  position: relative;
}

main .clientele .clientele__text::after {
  content: "";
  position: absolute;
  top: 80px;
  left: 0;
  width: 20%;
  height: 4px;
  background-color: #ef6f21;
  border-radius: 2px;
}

main .clientele .clientele__text h1 {
  font-family: bwod-light;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.5rem;
}

main .clientele .clientele__text p {
  padding: 2rem 0;
  font-size: 1.2rem;
}

main .clientele .clientele__image img {
  width: 100%;
  height: auto;
}

.row-sizing {
  padding: 0 6rem;
}

.btn {
  padding: 12px 25px;
  border: none;
  text-align: center;
  color: #ef6f21;
  font-family: bwod-light;
  position: relative;
  background-color: transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  background-color: #ef6f21;
  color: #fff;
}

.btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 97%;
  height: 15px;
  border: 2px solid #ef6f21;
  border-bottom: none;
}

.btn::before {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 97%;
  height: 15px;
  border: 2px solid #ef6f21;
  border-top: none;
}
/*# sourceMappingURL=style.css.map */